USE [master]
GO
/****** Object:  Database [BANDONGHO]    Script Date: 25-11-2024 3:12:14 PM ******/
CREATE DATABASE [BANDONGHO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANDONGHO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BANDONGHO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANDONGHO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BANDONGHO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANDONGHO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANDONGHO]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Alias] [nvarchar](150) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[Position] [int] NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[Title] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](50) NULL,
	[ProductID] [varchar](50) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[GiamGia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucNangQuyen]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucNangQuyen](
	[MaChucNang] [varchar](50) NOT NULL,
	[TenChucNang] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.ChucNangQuyen] PRIMARY KEY CLUSTERED 
(
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ChucVu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [varchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](500) NOT NULL,
	[SoDienThoai] [varchar](max) NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[Email] [varchar](500) NULL,
	[PhuongThucThanhToan] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[ID_KhachHang] [varchar](50) NOT NULL,
	[CCCD] [varchar](500) NOT NULL,
 CONSTRAINT [PK_dbo.HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [varchar](50) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Alias] [nvarchar](500) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[SoDienThoai] [varchar](max) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [varchar](50) NOT NULL,
	[ID_ChucVu] [int] NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[GioiTinh] [bit] NOT NULL,
	[DiaChi] [nvarchar](500) NOT NULL,
	[SoDienThoai] [varchar](max) NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[CCCD] [varchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[TenHienThi] [nvarchar](150) NOT NULL,
	[IsActiveAccount] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaChucNang] [varchar](50) NOT NULL,
	[IDChucVu] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[IDChucVu] ASC,
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[MaSanPham] [varchar](50) NOT NULL,
	[ProductCategoryID] [varchar](50) NOT NULL,
	[SupplierID] [varchar](50) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Alias] [nvarchar](500) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaNiemYet] [decimal](18, 2) NOT NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[SoLuong] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[IsHome] [bit] NOT NULL,
	[IsSale] [bit] NOT NULL,
	[IsNew] [bit] NOT NULL,
	[IsHot] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SeoTitle] [nvarchar](max) NULL,
	[SeoDescription] [nvarchar](max) NULL,
	[SeoKeywords] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[MaLoaiSanPham] [varchar](50) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Alias] [nvarchar](500) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[Image] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Modifiedby] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKe]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[SoTruyCap] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ThongKe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Alias], [Link], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Title]) VALUES (1, N'trang-chu', NULL, N'Trang chủ', N'Trang chủ', N'Trang chủ', 1, 1, 1, N'MEGATECH Administrator', CAST(N'2024-05-18T13:41:20.290' AS DateTime), NULL, NULL, N'Trang chủ')
INSERT [dbo].[Category] ([ID], [Alias], [Link], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Title]) VALUES (2, N'san-pham', NULL, N'Sản phẩm', N'Sản phẩm', N'Sản phẩm', 1, 2, 1, N'MEGATECH Administrator', CAST(N'2024-05-18T13:41:33.150' AS DateTime), NULL, NULL, N'Sản phẩm')
INSERT [dbo].[Category] ([ID], [Alias], [Link], [SeoTitle], [SeoDescription], [SeoKeywords], [IsActive], [Position], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [Title]) VALUES (5, N'nha-cung-cap', NULL, N'Nhà cung cấp', N'Nhà cung cấp', N'Nhà cung cấp', 0, 3, 0, N'MEGATECH Administrator', CAST(N'2024-05-18T13:48:19.573' AS DateTime), CAST(N'2024-05-19T23:24:41.437' AS DateTime), N'MEGATECH Administrator', N'Nhà cung cấp')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([ID], [OrderID], [ProductID], [GiaBan], [GiamGia], [SoLuong]) VALUES (93, N'2410304W3PZ76B', N'1PAR2Q1A', CAST(12350.00 AS Decimal(18, 2)), 0, 2)
INSERT [dbo].[ChiTietHoaDon] ([ID], [OrderID], [ProductID], [GiaBan], [GiamGia], [SoLuong]) VALUES (94, N'241125CR27238K', N'72B8AAML', CAST(8910000.00 AS Decimal(18, 2)), 0, 1)
INSERT [dbo].[ChiTietHoaDon] ([ID], [OrderID], [ProductID], [GiaBan], [GiamGia], [SoLuong]) VALUES (95, N'241125AL8T9E7V', N'1TSL61KB', CAST(16660000.00 AS Decimal(18, 2)), 0, 1)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
INSERT [dbo].[ChucNangQuyen] ([MaChucNang], [TenChucNang], [MoTa]) VALUES (N'MEGATECH_ChinhSua', N'Chỉnh sửa', NULL)
INSERT [dbo].[ChucNangQuyen] ([MaChucNang], [TenChucNang], [MoTa]) VALUES (N'MEGATECH_ThemMoi', N'Thêm mới', NULL)
INSERT [dbo].[ChucNangQuyen] ([MaChucNang], [TenChucNang], [MoTa]) VALUES (N'MEGATECH_ThongKe', N'Xem thống kê', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [MoTa], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (2, N'Quản lý', N'Chức vụ cấp cao nhất của MEGATECH.', 1, N'MEGATECH', CAST(N'2024-05-17T00:00:00.000' AS DateTime), CAST(N'2024-05-17T22:21:06.850' AS DateTime), N'MEGATECH Administrator')
INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [MoTa], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (4, N'Kế toán', NULL, 1, N'MEGATECH Administrator', CAST(N'2024-05-17T22:08:04.847' AS DateTime), NULL, NULL)
INSERT [dbo].[ChucVu] ([ID], [TenChucVu], [MoTa], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (5, N'Thu ngân', NULL, 1, N'MEGATECH Administrator', CAST(N'2024-05-17T22:13:13.130' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [TenKhachHang], [SoDienThoai], [DiaChi], [Email], [PhuongThucThanhToan], [TrangThai], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [ID_KhachHang], [CCCD]) VALUES (N'2410304W3PZ76B', N'demo', N'0999999999', N'adasd', N'nnnnnn@gmail.com', 3, 2, N'demo', CAST(N'2024-10-30T14:54:46.753' AS DateTime), CAST(N'2024-10-30T14:54:46.753' AS DateTime), NULL, N'3Z366C3L', N'777777777')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TenKhachHang], [SoDienThoai], [DiaChi], [Email], [PhuongThucThanhToan], [TrangThai], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [ID_KhachHang], [CCCD]) VALUES (N'24112587Z3L1LL', N'sadasd', N'0999999999', N'dfs', N'demotk@gmail.com', 1, 2, N'sadasd', CAST(N'2024-11-25T14:59:01.487' AS DateTime), CAST(N'2024-11-25T14:59:01.487' AS DateTime), NULL, N'HEZ99RPY', N'444444444')
INSERT [dbo].[HoaDon] ([MaHoaDon], [TenKhachHang], [SoDienThoai], [DiaChi], [Email], [PhuongThucThanhToan], [TrangThai], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [ID_KhachHang], [CCCD]) VALUES (N'241125AL8T9E7V', N'demo', N'09999999999', N'demo', N'nnnnnn@gmail.com', 2, 2, N'demo', CAST(N'2024-11-25T14:56:17.590' AS DateTime), CAST(N'2024-11-25T14:56:17.590' AS DateTime), NULL, N'60U49NPW', N'444444444')
GO
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Title], [Alias], [Image], [SoDienThoai], [Email], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [SeoTitle], [SeoDescription], [SeoKeywords]) VALUES (N'1AZIA6K5', N'Casio', N'casio', N'/Uploads/files/th.jpg', N'05942376129', N'Casio@icloud.com', 1, N'MEGATECH Administrator', CAST(N'2024-05-18T13:25:22.000' AS DateTime), CAST(N'2024-11-25T14:00:50.437' AS DateTime), N'MEGATECH Administrator', N'Casio', N'Casio', N'Casio')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Title], [Alias], [Image], [SoDienThoai], [Email], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [SeoTitle], [SeoDescription], [SeoKeywords]) VALUES (N'6ALDKXYM', N'Seiko', N'seiko', N'/Uploads/files/logo-vinamilk-png-vinamilk-logo-800.jpg', N'98574328594', N'Seiko@china.com', 1, N'MEGATECH Administrator', CAST(N'2024-05-21T23:29:45.000' AS DateTime), CAST(N'2024-11-25T14:01:40.120' AS DateTime), N'MEGATECH Administrator', N'Seiko', N'Seiko', N'Seiko')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Title], [Alias], [Image], [SoDienThoai], [Email], [Status], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby], [SeoTitle], [SeoDescription], [SeoKeywords]) VALUES (N'E9CD2UJZ', N'Coca-Cola Vietnam', N'coca-cola-vietnam', N'/Uploads/files/1641786836394.jpg', N'98542875589', N'coca@support.vn', 0, N'MEGATECH Administrator', CAST(N'2024-05-21T23:27:52.000' AS DateTime), CAST(N'2024-10-29T18:58:11.583' AS DateTime), N'MEGATECH Administrator', N'Coca-Cola Vietnam', N'Coca-Cola Vietnam', N'Coca-Cola Vietnam')
GO
INSERT [dbo].[PhanQuyen] ([MaChucNang], [IDChucVu], [GhiChu]) VALUES (N'MEGATECH_ChinhSua', 2, NULL)
INSERT [dbo].[PhanQuyen] ([MaChucNang], [IDChucVu], [GhiChu]) VALUES (N'MEGATECH_ThemMoi', 2, NULL)
INSERT [dbo].[PhanQuyen] ([MaChucNang], [IDChucVu], [GhiChu]) VALUES (N'MEGATECH_ThongKe', 2, NULL)
GO
INSERT [dbo].[ProductCategory] ([MaLoaiSanPham], [Title], [Alias], [MoTa], [Image], [IsActive], [Status], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (N'3S4NW9AP', N'Dồng hồ thông minh', N'dòng-hò-thong-minh', N'Dồng hồ thông minh', N'/Uploads/images/ProductCategory/10139_1.jpg', 1, 1, N'Dồng hồ thông minh', N'Dồng hồ thông minh', N'Dồng hồ thông minh', N'MEGATECH Administrator', CAST(N'2024-05-18T13:19:47.000' AS DateTime), CAST(N'2024-11-25T13:47:54.503' AS DateTime), N'MEGATECH Administrator')
INSERT [dbo].[ProductCategory] ([MaLoaiSanPham], [Title], [Alias], [MoTa], [Image], [IsActive], [Status], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (N'6LC419VJ', N'Phiên bản limited', N'phien-bản-limited', N'Phiên bản limited', N'/Uploads/images/ProductCategory/cach-su-dung-dong-ho-thong-minh.jpg', 1, 1, N'Phiên bản limited', N'Phiên bản limited', N'Phiên bản limited', N'MEGATECH Administrator', CAST(N'2024-05-18T13:20:34.000' AS DateTime), CAST(N'2024-11-25T13:47:36.153' AS DateTime), N'MEGATECH Administrator')
INSERT [dbo].[ProductCategory] ([MaLoaiSanPham], [Title], [Alias], [MoTa], [Image], [IsActive], [Status], [SeoTitle], [SeoDescription], [SeoKeywords], [CreatedBy], [CreatedDate], [ModifiedDate], [Modifiedby]) VALUES (N'AK3SXIEP', N'Đính kim cương', N'dính-kim-cuong', N'Đính kim cương', N'/Uploads/images/ProductCategory/kich-thuoc-tivi-75inch-1.jpg', 1, 1, N'Đính kim cương', N'Đính kim cương', N'Đính kim cương', N'MEGATECH Administrator', CAST(N'2024-05-18T13:20:02.000' AS DateTime), CAST(N'2024-11-25T13:47:19.497' AS DateTime), N'MEGATECH Administrator')
GO
SET IDENTITY_INSERT [dbo].[ThongKe] ON 

INSERT [dbo].[ThongKe] ([ID], [ThoiGian], [SoTruyCap]) VALUES (1, CAST(N'2024-05-19T23:55:07.577' AS DateTime), 7)
INSERT [dbo].[ThongKe] ([ID], [ThoiGian], [SoTruyCap]) VALUES (2, CAST(N'2024-05-20T23:59:10.380' AS DateTime), 14)
INSERT [dbo].[ThongKe] ([ID], [ThoiGian], [SoTruyCap]) VALUES (3, CAST(N'2024-05-21T23:53:16.297' AS DateTime), 30)
SET IDENTITY_INSERT [dbo].[ThongKe] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OrderID]    Script Date: 25-11-2024 3:12:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[ChiTietHoaDon]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductID]    Script Date: 25-11-2024 3:12:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[ChiTietHoaDon]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID_ChucVu]    Script Date: 25-11-2024 3:12:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ID_ChucVu] ON [dbo].[NhanVien]
(
	[ID_ChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IDChucVu]    Script Date: 25-11-2024 3:12:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_IDChucVu] ON [dbo].[PhanQuyen]
(
	[IDChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaChucNang]    Script Date: 25-11-2024 3:12:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaChucNang] ON [dbo].[PhanQuyen]
(
	[MaChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductCategoryID]    Script Date: 25-11-2024 3:12:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategoryID] ON [dbo].[Product]
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SupplierID]    Script Date: 25-11-2024 3:12:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierID] ON [dbo].[Product]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__ID_Khach__7F16D496]  DEFAULT ('') FOR [ID_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__CCCD__1CA7377D]  DEFAULT ('') FOR [CCCD]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  CONSTRAINT [DF__NhaCungCa__Title__0B7CAB7B]  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__TenDan__5DB5E0CB]  DEFAULT ('') FOR [TenDangNhap]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__MatKha__5EAA0504]  DEFAULT ('') FOR [MatKhau]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__TenHie__5F9E293D]  DEFAULT ('') FOR [TenHienThi]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__IsActi__60924D76]  DEFAULT ((0)) FOR [IsActiveAccount]
GO
ALTER TABLE [dbo].[PhanQuyen] ADD  CONSTRAINT [DF__PhanQuyen__IDChu__618671AF]  DEFAULT ((0)) FOR [IDChucVu]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__Title__0A888742]  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__GiaNiem__0E591826]  DEFAULT ((0)) FOR [GiaNiemYet]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  CONSTRAINT [DF__ProductCa__Title__0C70CFB4]  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.HoaDon_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.HoaDon_OrderID]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NhanVien_dbo.ChucVu_ID_ChucVu] FOREIGN KEY([ID_ChucVu])
REFERENCES [dbo].[ChucVu] ([ID])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_dbo.NhanVien_dbo.ChucVu_ID_ChucVu]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhanQuyen_dbo.ChucNangQuyen_MaChucNang] FOREIGN KEY([MaChucNang])
REFERENCES [dbo].[ChucNangQuyen] ([MaChucNang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_dbo.PhanQuyen_dbo.ChucNangQuyen_MaChucNang]
GO
ALTER TABLE [dbo].[PhanQuyen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhanQuyen_dbo.ChucVu_IDChucVu] FOREIGN KEY([IDChucVu])
REFERENCES [dbo].[ChucVu] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanQuyen] CHECK CONSTRAINT [FK_dbo.PhanQuyen_dbo.ChucVu_IDChucVu]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.NhaCungCap_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.NhaCungCap_SupplierID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.ProductCategory_ProductCategoryID] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[ProductCategory] ([MaLoaiSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.ProductCategory_ProductCategoryID]
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKe]    Script Date: 25-11-2024 3:12:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKe]
as
BEGIN
	DECLARE @SoTruyCapGanNhat int
	DECLARE @Count int
	SELECT @Count=COUNT(*) FROM ThongKe
	IF @Count IS NULL SET @Count=0
	IF @Count=0
		INSERT INTO ThongKe(ThoiGian,SoTruyCap)
		Values(GETDATE(),1)
	ELSE
		BEGIN
			DECLARE @ThoiGianGanNhat datetime
			SELECT @SoTruyCapGanNhat=tk.SoTruyCap,@ThoiGianGanNhat=tk.ThoiGian FROM ThongKe tk
			WHERE tk.id=(SELECT MAX(tk1.Id) FROM ThongKe tk1)
			IF @SoTruyCapGanNhat IS NULL SET @SoTruyCapGanNhat=0
			IF @ThoiGianGanNhat IS NULL SET @ThoiGianGanNhat=GETDATE()
			--Nếu chuyển sang ngày  mới chưa (sau 12h đêm)
			-- nếu chưa chuyển sang ngày mới thì update
			IF DAY(@ThoiGianGanNhat)=DAY(GETDATE())
				BEGIN
					UPDATE ThongKe
					SET 
					SoTruyCap=@SoTruyCapGanNhat+1,
					ThoiGian=GETDATE()
					WHERE Id=(SELECT MAX(tk1.Id) FROM ThongKe tk1)
				END
			-- Nếu đã sang ngày mới rồi thì chúng thêm 1 bản ghi mới
			ELSE
				INSERT INTO ThongKe(ThoiGian,SoTruyCap)
				Values(GETDATE(),1)
		END

			-- Thống kê Hom nay, Hom qua, Tuan nay, Tuan Truoc, Thang nay, Thang Truoc
		DECLARE @HomNay int
		SET @HomNay=DATEPART(DW,GETDATE());
		SELECT @SoTruyCapGanNhat=SoTruyCap,@ThoiGianGanNhat=ThoiGian FROM ThongKe 
		WHERE Id=(SELECT MAX(Id) FROM ThongKe)

		--so truy cap ngay hqua
		DECLARE @TruyCapHomQua bigint
		SELECT @TruyCapHomQua=ISNULL(SoTruyCap,0) FROM ThongKe 
		Where CONVERT(nvarchar(20),ThoiGian,103)=CONVERT(nvarchar(20),GETDATE()-1,103)
		IF @TruyCapHomQua IS NULL SET @TruyCapHomQua=0

		--truy cap dau tuan này
		DECLARE @DauTuanNay datetime
		SET @DauTuanNay= DATEADD(wk, DATEDIFF(wk, 6, GetDate()), 6)
		-- Tính Ngày đầu của tuần trước Tính từ thời điểm 00:00:))
		DECLARE @NgayDauTuanTruoc datetime
		SET @NgayDauTuanTruoc = Cast(CONVERT(nvarchar(30),DATEADD(dd, -(@HomNay+6), GetDate()),101) AS datetime)
		-- Tính ngày cuối tuần trước tính đến 24h ngày cuối tuần 
		DECLARE @NgayCuoiTuanTruoc datetime
		SET @NgayCuoiTuanTruoc = Cast(CONVERT(nvarchar(30),DATEADD(dd, -@HomNay, GetDate()),101) +' 23:59:59' AS datetime)

		-- so truy cap tuan nay
		DECLARE @TruyCapTuanNay bigint
		SELECT @TruyCapTuanNay=ISNULL(sum(SoTruyCap),0) FROM ThongKe
		Where ThoiGian BETWEEN @DauTuanNay AND GETDATE()

		-- Tính số truy cập tuần trước
		DECLARE @SoLanTruyCapTuanTruoc bigint
		SELECT @SoLanTruyCapTuanTruoc=isnull(sum(SoTruyCap),0)  FROM ThongKe ttk 
			WHERE ttk.ThoiGian BETWEEN @NgayDauTuanTruoc AND @NgayCuoiTuanTruoc
		
		-- Tính số truy cập tháng này
		DECLARE @SoTruyCapThangNay bigint 
		SELECT @SoTruyCapThangNay=isnull(Sum(SoTruyCap),0)
			FROM ThongKe ttk WHERE MONTH(ttk.ThoiGian)=MONTH(GETDATE())
		
		-- Tính số truy cập tháng trước
		DECLARE @SoTruyCapThangTruoc bigint 
		SELECT @SoTruyCapThangTruoc=isnull(Sum(SoTruyCap),0)
			FROM ThongKe ttk WHERE MONTH(ttk.ThoiGian)=MONTH(GETDATE())-1
		
		-- Tính tổng số
		DECLARE @TongSo bigint
		SELECT  @TongSo=isnull(Sum(SoTruyCap),0) FROM ThongKe ttk
		
		SELECT @SoTruyCapGanNhat AS HomNay, 
		@TruyCapHomQua AS HomQua,
		@TruyCapTuanNay AS TuanNay, 
		@SoLanTruyCapTuanTruoc AS TuanTruoc, 
		@SoTruyCapThangNay AS ThangNay, 
		@SoTruyCapThangTruoc AS ThangTruoc,
		@TongSo AS TatCa
END
GO
USE [master]
GO
